* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(172, 169, 169);
}

/* --- HEADER -- */
header {
    display: flex;
    flex-wrap: wrap; /* --- las imagenes se organizan automaticamente cuando se cambian los dispositivos -- */
    justify-content: space-around;
    text-align: center;
    background-image: url(/img/fondo.jpg);
    background-size: 100%;
    height: 1000px;
    padding: 15%;
}

header > img {
    width: 500px;
}

header > h1 {
    color: black;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.514);
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    line-height: 80px;
}

/* --- QUIEN SOY -- */

.quiensoy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.quiensoy .img > p {
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.quiensoy .img > img{
    width: 70%;
    padding-left: 600px;
}

.quiensoy.txt > h2{
    font-size: 60px;
    margin-bottom: 10px;
    color: black;
}

/* --- VALORES -- */

.valores{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.valores .listadevalores > p {
    font-size: 25px;
    margin-bottom: 50px;
    color: black;
    padding-left: 40%;
    padding-right: 20%;
}

.valores .listadevalores > ul > li {
    list-style: none;
    font-size: 20px;
    line-height: 60px;
    color:black;
    padding-left: 40%;
    padding-right: 20%;
}

.valores .logocolegio > img {
    margin-top: 60px;
    width: 350px;
    border-radius: 50px;
    height: 350px;
    -webkit-border-radius:20%;
    -moz-border-radius:20%;
    -o-border-radius:20%;

}

.mismetas >h2{
    text-align: center;
    font-size: 30px;
    margin-top:10% ;
    margin-bottom: 10%;
}

.mismetas .metas{
    display: flex;
    justify-content: space-around;
    padding: 4%;
    text-align: center;
    align-items: center;
}

.mismetas .meta1 {
    margin: 10px;
    background-color: rgba(240, 255, 255, 0.623);
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.mismetas .meta1 > img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 50px;
}

.mismetas .meta1 > h3 {
    font-size: 20px;
}

.mismetas .meta2 {
    margin: 10px;
    background-color: rgba(240, 255, 255, 0.623);
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.mismetas .meta2 > img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 20px;
}

.mismetas .meta2 > h3 {
    font-size: 20px;
}

.mismetas .meta3 {
    margin: 10px;
    background-color:rgba(240, 255, 255, 0.623);
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.mismetas .meta3 > img {
    border-radius: 20px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 20px;
}

.mismetas .meta3 > h3 {
    font-size: 20px;
}

/* --- FRASE -- */

.frase {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: auto;
    margin-bottom: 50px;
}

.frase > h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(153, 148, 148);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* --- FOOTER -- */

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    text-align: start;
    align-items: center;
}

footer p{
    margin-left: 5%;
    color: white;
    padding: 1%;
}

footer .social {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 30%;
    margin-right: 5%;
}

footer .social a img {
    border-radius: 20%;
    padding: 20%;
    align-items: center;
}

footer.social a img:hover{
    background-color:rgb(153, 148, 148) ;
    transition-duration: 0.5s;
}

